@page
@model S2IndividualProjectDnDPrototype.Pages.CampaignPages.CampaignDetailsModel
@{
    LogicLayer.Entities.Campaign camp = Model.getSingleCampaign();
}

<div class="card text-light text-center container-fluid" style="width:400px; margin:0.5em; background-color:var(--bg); ">
    <div>


        <h4 class="card-title"> @camp.Name    </h4>
        <p class="card-text"> @camp.Owner is the owner</p>
        <p class="text-opacity-75 card-text"> @camp.Description </p>
        <a asp-page="/CampaignPages/EditCampaignPage" asp-route-campaignID="@camp.Id" class="card-link btn btn-primary"> Edit </a>
        <a asp-page="/CampaignPages/DeleteCampaignPage" asp-route-campaignID="@camp.Id" class="card-link btn btn-primary"> Delete </a>

    </div>
</div>