@page
@model S2IndividualProjectDnDPrototype.Pages.CharacterPageModel
@{

    Models.Character character = Model.getSingleCharacter();
    <div class="card text-light text-center container-fluid" style="width:400px; margin:0.5em; background-color:var(--bg); ">
        <div>


            <h4 class="card-title"> @character.Name    </h4>
            <p class="card-text"> @character.Name is @character.Backpack1 years old and is a @character.Body1.</p>
            <p class="text-opacity-75 card-text"> @character.Backpack1 lives at @character.Body2 </p>
            <a asp-page="/Index" asp-route-hasreturnedtopage="yeah" class="card-link btn btn-primary"> Back To index</a>
            <a href="https://google.com" class="card-link btn btn-primary"> Link to google as well </a>

        </div>
    </div>
    <br />
}


